<div class="footer">
  <div class="columns">
    <div class="column is-4">
      <div class="footer__content">
        <ul class="footer__list">
          <li>
            <span class="has-text-weight-light is-uppercase">© 2022 </span>
            <span class="has-text-weight-bold is-uppercase">Skylark</span>
            <span class="has-text-weight-light is-uppercase">International</span>
          </li>
          <li>
            <span class="has-text-weight-bold">Charity Number: 1097111</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="column is-4">
      <div class="footer__content">
        <p class="has-text-centered is-uppercase">Rebuilding Ruins &bull; Building Bridges &bull; Creating Culture</p>
      </div>
    </div>
    <div class="column is-4">
      <div class="footer__content">
        <ul class="footer__list is-right-aligned">
          <li>
              4 Hanbury Road, Chelmsford, Essex, CM1 3AE
          </li>
          <li>
              <a href="mailto:info@skylarkinternational.org">info@skylarkinternational.org</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>