@use '../settings/colors' as *;

.footer {
  background-color: transparent;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
  font-size: 0.75rem;

  a {
    color: $default-text-color;
    text-decoration: underline;

    &:hover {
      color: lighten($color: $default-text-color, $amount: 25%);
      text-decoration: none;
    }
  }

  &__list {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }

    &.is-right-aligned {
      justify-content: flex-end;
    }
  }
}
