---
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import 'bulma';
import '../scss/main.scss';

const { pathname } = Astro.url;
const isHome = pathname === '/' ? 'is-alt' : '';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel="icon" type="image/png" href="/images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32.png" sizes="32x32">
    <title>Skylark International</title>
  </head>

  <body>
    <div class="wrapper">
      <Header isHome={isHome} />
      <div class={`main ${isHome ? 'is-home' : ''}`}>
        <slot />
      </div>
      <Footer isHome={isHome} />
    </div>
  </body>
</html>
